{% extends 'qf/base.html' %}
{% block content %}
{% load static %}

<h1>chat creado</h1>

<div class="probando">
    <form action="" id = "form_chat"> 
        <label id = 'message' for="">mensaje:</label>   
        <input id = 'messageId'type="text">
        <button type="submit">enviar</button>
    </form>
    <table class="table table-success">
        <tbody id="chatBodyId">
            <tr>
                <td style="width: 10px;">19:58</td>
                <td style="width: 50px;">paciente1:</td>
                <td>Hola mundo!!</td>
            </tr>
            <tr>
                <td style="width: 10px;">20:00</td>
                <td style="width: 50px;">quimicofar1:</td>
                <td>Hola gerundio!!</td>
            </tr>
            <tr>
                <td style="width: 10px;">20:05</td>
                <td style="width: 50px;">paciente1:</td>
                <td>no me digas gerundio!!</td>
            </tr>
        </tbody>
    </table>
</div>

<input type="hidden" id="token" value="{{ token }}" disabled>
<input type="hidden" id="idQui" value="{{ user_id_connectycube }}" disabled> 
<input type="hidden" id="dialogId" value="{{ dialogId }}" disabled>   

{% endblock %}