{% extends 'qf/base.html' %}
{% block content %}
{% load static %}

<h1>chat creado</h1>

<div class="probando">
    <form action="" id = "form_chat"> 
        <label id = 'message' for="">mensaje:</label>   
        <input id = 'messageId'type="text">
        <button type="submit">enviar</button>
    </form>
    <table class="table table-success">
        <tbody id="chatBodyId">
            <tr>
                <td style="width: 10px;">19:58</td>
                <td style="width: 50px;">paciente1:</td>
                <td>Hola mundo!!</td>
            </tr>
            <tr>
                <td style="width: 10px;">20:00</td>
                <td style="width: 50px;">quimicofar1:</td>
                <td>Hola gerundio!!</td>
            </tr>
            <tr>
                <td style="width: 10px;">20:05</td>
                <td style="width: 50px;">paciente1:</td>
                <td>no me digas gerundio!!</td>
            </tr>
        </tbody>
    </table>
</div>

<input type="hidden" id="token" value="{{ token }}" disabled>
<input type="hidden" id="idQui" value="{{ user_id_connectycube }}" disabled> 
<input type="hidden" id="idQui" value="{{ dialogId }}" disabled> 

<script src="https://cdn.jsdelivr.net/npm/connectycube@3.28.0/dist/connectycube.min.js"></script>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const CREDENTIALS = {
        appId: 7678,
        authKey: "7Jz5LusMpV2Ugb2",
        authSecret: "uZVVgk3kAVmMraV",
    };

    const DEFAULT_CONFIG = {
        debug: { mode: 1 }
    };

    ConnectyCube.init(CREDENTIALS, DEFAULT_CONFIG);

    var token = document.getElementById("token").value;
    var userIdQui = document.getElementById("idQui").value;
    var dialogId = document.getElementById("dialogId").value;

    console.log(token);
    console.log(userIdQui);
    console.log(dialogId);
    // Login to ConnectyCube
    const userCredentials = {
        login: userIdQui,
        password: token 
    };

    ConnectyCube.chat.connect(userCredentials)
        .then((result) => {
            console.log("Connectado!: ", result)
        })
        .catch((error) => {
            console.log("error: ", error)
        });


    

    function loadMessages(dialogId) {
        const params = { chat_dialog_id: dialogId, sort_desc: 'date_sent', limit: 50 };

        ConnectyCube.chat.message
            .list(params)
            .then((result) => {
                console.log("Messages: ", result);
                updateChatTable(result.items);
            })
            .catch((error) => {
                console.error("Message retrieval error: ", error);
            });
    }

    function updateChatTable(messages) {
        const chatTableBody = document.getElementById("chatBodyId");
        chatTableBody.innerHTML = ''; // limpia los chats de la tabla
        messages.forEach((message) => {
            const row = document.createElement('tr');
            const timeCell = document.createElement('td');
            timeCell.style.width = '10px';
            timeCell.textContent = new Date(message.date_sent * 1000).toLocaleTimeString();

            const senderCell = document.createElement('td');
            senderCell.style.width = '50px';
            senderCell.textContent = message.sender_id;

            const messageCell = document.createElement('td');
            messageCell.textContent = message.message;

            row.appendChild(timeCell);
            row.appendChild(senderCell);
            row.appendChild(messageCell);
            chatTableBody.appendChild(row);
        });
    }


    var formChat = document.getElementById("form_chat");
    formChat.addEventListener("submit", function(event) {
        event.preventDefault();
        var messageInput = document.getElementById("messageId");
        var message = messageInput.value;
        var dialogId = dialogId;
        if (message && dialogId) {
            sendMessage(dialogId, message);
        }
    });

    function sendMessage(dialogId, message) {
        const params = {
            chat_dialog_id: dialogId,
            message: message,
            save_to_history: 1
        };

        ConnectyCube.chat.message
            .create(params)
            .then((msg) => {
                console.log("Message sent: ", msg);
                addMessageToTable(msg);
            })
            .catch((error) => {
                console.error("Message sending error: ", error);
            });
    }

    function addMessageToTable(message) {
        const chatTableBody = document.querySelector('#chatTableBody');
        const row = document.createElement('tr');
        const timeCell = document.createElement('td');
        timeCell.style.width = '10px';
        timeCell.textContent = new Date(message.date_sent * 1000).toLocaleTimeString();

        const senderCell = document.createElement('td');
        senderCell.style.width = '50px';
        senderCell.textContent = message.sender_id;

        const messageCell = document.createElement('td');
        messageCell.textContent = message.message;

        row.appendChild(timeCell);
        row.appendChild(senderCell);
        row.appendChild(messageCell);
        chatTableBody.appendChild(row);
    }
});

</script>
    

{% endblock %}