{% extends 'adminn/base.html' %}
{% load static %}
{% block contenido %}

<body>
    <h2 class="text-center text-primary mb-5 " >Datos del Químico</h2>
    <div class="padingbonito">
    <div class=""
        style="background-color: #ececec; color: black;border-radius: 0px;  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);">

        <form action="{% url 'adminform' %}" method="POST" enctype="multipart/form-data" style="padding:30px 0 0 30px ;" onsubmit="return validarFormulario()">
            {% csrf_token %}
            <div class="row">
               <div class="col-12 col-lg-4">
                <label for="nombre" class="form-label">Nombre:</label>
                    <input type="text" style="margin-left:10px ;" class="prueba" name="usuario" id="nombre"><br>
                    <div id="mensajeError" style="color: red;"></div>
                <label for="rut" class="form-label mt-3">RUT:</label>
                <input type="text" style="margin-left:35px ;" class="prueba" name="rut" id="rut" onblur="formatearRut(this)"><br>
                <label for="sexo" class="form-label mt-3">Sexo:</label>
                <select class="prueba" style="margin-left:30px ;" name="sexo" id="sexo">
                    <option value="MASCULINO">Masculino</option>
                    <option value="FEMENINO">Femenino</option>
                    <option value="PREFIERO NO ESPECIFICAR">Prefiero no especificar:</option>
                </select><br>
                <label for="titu" class="form-label mt-3">Título:</label>
                <input type="text" style="margin-left:25px ;" class="prueba" name="titulo" id="titu"><br>
                <label for="cv" class="form-label mt-3">Especialidad:</label><br>
                {% for x in especialidad %}
                <input type="checkbox" name="especialidad" value="{{ x.id }}">
                {{x.especialidad}}<br>
                {% endfor %}
                <label for="clave" class="form-label mt-3">Clave:</label>
                <input type="password" class="prueba" name="clave" id="clave">


                

              

               </div>

               <div class="col-12 col-lg-4">
                <label for="fecha_nac" class="form-label">Fecha de Nacimiento:</label>
                <input type="date" style="margin-left:15px ;" class="prueba" name="fecha_nac" id="fecha_nac"><br>
                <label for="telefono" class="form-label mt-3">Teléfono:</label>
                <input type="text" style="margin-left:106px ;" class="prueba" name="telefono" id="telefono"><br>
                <label for="email" class="form-label mt-3">Email:</label>
                <input type="email" style="margin-left:125px ;" class="prueba" name="email" id="email"><br>
                <label for="uni" class="form-label mt-3">Universidad:</label>
                    <input type="text" style="margin-left:80px ;" class="prueba" name="universidad" id="uni">
                    <div >
                        Area Medica
                        <select name="aream" id="listaTienda">
                            {% for x in aream %}
                            <option value="{{ x.id }}">{{ x.area_medica }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <label for="confirmar_clave" class="form-label mt-3">Confirmar Clave:</label>
                    <input type="password" class="prueba" name="confirmar_clave" id="confirmar_clave">
                    <label for="numre" class="form-label mt-3">Número de Registro</label>
                    <input type="text" class="prueba" name="numero_registro" id="numre">
               </div>

               <div class="col-12 col-lg-4">
                <label for="nombre" class="form-label ">Region:</label>
                <input type="text" class="prueba" name="Region" id="nombre"><br>
                <label for="nombre" class="form-label mt-3">Povincia:</label>
                <input type="text" class="prueba" name="Povincia" id="nombre"><br>
                <label for="nombre" class="form-label mt-3">Comuna:</label>
                <input type="text" class="prueba" name="Comuna" id="nombre"><br>
                <div style="margin: 10px;" class="col-md-12">
                    Horario Disponible:
                    <select name="hora_disponible" id="listaTienda">
                       
                        <option value="08:00 - 16:00">08:00 - 16:00</option>
                        <option value="08:00 - 16:00">16:00 - 00:00</option>
                        <option value="08:00 - 16:00">00:00 - 08:00</option>
                        
                    </select>
                </div>
                <label for="cv" class="form-label mt-3">Currículum</label>
                <input type="text" class="prueba" name="curriculum" id="cv">
                <div class="col-12 col-lg-4 mb-4 text-center" style="margin-top:100px ;">
                    <label class="form-label">Subir Fotografía</label>
                    <div class="foto-qf m-auto">
                        <img src="{% static 'qf/imgs/usuario.png' %}" id="img" class="rounded-circle img-thumbnail"
                            style="height: 200px; width: 200px;" alt="imagen QF"><br>
                        <input style="display: none;" type="file" name="foto" id="foto">
                        <label for="foto" class="btn btn-primary mt-3">Cambiar Foto</label>
                    </div>
                </div>
               </div>
            </div>
            <button type="submit" class="btn btn-success w-100 mt-4">Guardar</button>

<!--
            <div class="row">
                <div class="col-12 col-lg-4 mb-4 text-center" style="margin-top:100px ;">
                    <label class="form-label">Subir Fotografía</label>
                    <div class="foto-qf m-auto">
                        <img src="{% static 'qf/imgs/usuario.png' %}" id="img" class="rounded-circle img-thumbnail"
                            style="height: 200px; width: 200px;" alt="imagen QF"><br>
                        <input style="display: none;" type="file" name="foto" id="foto">
                        <label for="foto" class="btn btn-primary mt-3">Cambiar Foto</label>
                    </div>
                </div>

                <div class="col-12 col-lg-4 mb-4">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="prueba" name="usuario" id="nombre">

                    <label for="rut" class="form-label mt-3">RUT</label>
                    <input type="text" class="prueba" name="rut" id="rut" onblur="formatearRut(this)">

                    <label for="fecha_nac" class="form-label mt-3">Fecha de Nacimiento</label>
                    <input type="date" class="prueba" name="fecha_nac" id="fecha_nac">

                    <label for="sexo" class="form-label mt-3">Sexo</label>
                    <select class="form-select" name="sexo" id="sexo">
                        <option value="MASCULINO">Masculino</option>
                        <option value="FEMENINO">Femenino</option>
                        <option value="PREFIERO NO ESPECIFICAR">Prefiero no especificar</option>
                    </select>

                    <label for="numre" class="form-label mt-3">Número de Registro</label>
                    <input type="text" class="prueba" name="numero_registro" id="numre">

                    <label for="cv" class="form-label mt-3">Currículum</label>
                    <input type="text" class="prueba" name="curriculum" id="cv">

                    <label for="cv" class="form-label mt-3">Especialidad</label><br>
                    {% for x in especialidad %}
                    <input type="checkbox" name="especialidad" value="{{ x.id }}">
                    {{x.especialidad}}<br>
                    {% endfor %}

                    <div style="margin: 10px;" class="col-md-12">
                        seleccionar coleccion
                        <select name="aream" id="listaTienda">
                            {% for x in aream %}
                            <option value="{{ x.id }}">{{ x.area_medica }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-12 col-lg-4 mb-4">
                    <label for="telefono" class="form-label">Teléfono</label>
                    <input type="text" class="prueba" name="telefono" id="telefono">

                    <label for="email" class="form-label mt-3">Email</label>
                    <input type="email" class="prueba" name="email" id="email">

                    <label for="clave" class="form-label mt-3">Clave</label>
                    <input type="password" class="prueba" name="clave" id="clave">

                    <label for="confirmar_clave" class="form-label mt-3">Confirmar Clave</label>
                    <input type="password" class="prueba" name="confirmar_clave" id="confirmar_clave">

                    
                    <div style="margin: 10px;" class="col-md-12">
                        Horario Disponible
                        <select name="hora_disponible" id="listaTienda">
                           
                            <option value="08:00 - 16:00">08:00 - 16:00</option>
                            <option value="08:00 - 16:00">16:00 - 00:00</option>
                            <option value="08:00 - 16:00">00:00 - 08:00</option>
                            
                        </select>
                    </div>

                    <label for="uni" class="form-label mt-3">Universidad</label>
                    <input type="text" class="prueba" name="universidad" id="uni">

                    <label for="titu" class="form-label mt-3">Título o Carrera</label>
                    <input type="text" class="prueba" name="titulo" id="titu">

                    <button type="submit" class="btn btn-success w-100 mt-4">Guardar</button>
                </div>
            </div>-->
        </form>
   
    </div>
</div>
</body>
<style>
    .prueba{
        border-color: rgb(156, 156, 156);
        
    }
    .error {
    border: 2px solid red;
}
</style>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'qf/js/formulario_qf.js' %}"></script>
<script>
    const defaultFile = 'static/qf/imgs/usuario.png';
    const file = document.getElementById('foto');
    const img = document.getElementById('img');

    file.addEventListener('change', e => {
        if (e.target.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                img.src = e.target.result;
            }
            reader.readAsDataURL(e.target.files[0]);
        } else {
            img.src = defaultFile;
        }
    });
</script>
<style>
    body {
        background-color: rgb(218, 218, 218);
    }
</style>

{% endblock %}