{% extends 'adminn/base.html' %}
{% load static %}
{% block contenido %}
<div style="text-align: center;margin: 100px;">
    <div class="row" style="border: 5px solid #368bd8;background-color: #242424;border-radius: 15px;">
        <div style="color: white;" class="col-4">
            <img src="{{ perfilP.fotou.url }}" class="imgUsuario" alt="usuario"><br>
            <div class="atributo">

                {{perfil.user.username}} {{perfil.user.last_name}}
            </div>

        </div>
        <div style=" text-align: left;color: white;padding: 10px;" class="col-4">

            <div class="atributo">
                <b>RUT</b><br>
                {{perfilP.rut}}
            </div>
            <div class="atributo">
                <b>Email</b> <br>
                {{perfil.user.email}}
            </div>
            <div class="atributo">
                <b>Sexo</b> <br>
                {{perfilP.sexo}}
            </div>

            <div class="atributo">
                <b> Ubicacion </b> <br>
            </div>




        </div>
        <div style=" text-align: left;color: white;padding: 10px;" class="col-4">


            <div class="atributo">
                <b>Fecha de nacimiento</b> <br> {{perfilP.fecha_de_nacimiento}}
            </div>

            <div class="atributo">
                <b>Telefono</b><br> {{perfilP.telefono}}
            </div>

            <div class="atributo">
                <b>Cesfam</b><br> {{perfil.cesfam}}
            </div>
            <div class="atributo">
                <b> Peso</b> <br>{{perfil.peso}} kg
            </div>



        </div>

    </div>

</div>
{% endblock %}