{% extends 'adminn/base.html' %}
{% load static %}
{% block contenido %}
<div style="background-color: #242424;text-align: center;margin: 150px; color: white;">
    <div class="row" style="border: 5px solid #368bd8;background-color: #242424;border-radius: 15px;margin-top: 20px;">
        <div style="" class="col-4">
            <img src="{{ perfilQ.foto.url }}" class="imgUsuario" alt="usuario"><br>
            <div class="atributo">

                {{perfil.user.username}} {{perfil.user.last_name}}
            </div>
            <div class="atributo">

               descargar curriculum
            </div>
    </div>
        <div style=" text-align: left;color: white;padding: 10px;" class="col-4">
            <div class="atributo">
                <b>RUT</b><br>
                {{perfilQ.rut}}
            </div>
            <div class="atributo">
                <b>email:</b><br>
                 {{perfil.user.email}} 
            </div>
            <div class="atributo">
                <b>sexo:</b><br>
                {{perfilQ.sexo}} 
            </div>
            <div class="atributo">
                <b>fecha de nacimiento</b><br>
                {{perfilQ.fecha_de_nacimiento}} 
            </div>
            <div class="atributo">
                <b> ubicacion</b><br>
               
            </div>
        
          
        
        
        </div>
        <div style=" text-align: left;color: white;padding: 10px;" class="col-4">
           
        
            <div class="atributo">
                <b>telefono</b><br>
                {{perfilQ.telefono}}
            </div>
        
            <div class="atributo">
                <b> universidad</b><br>
                {{perfil.universidad}} 
            </div>
            <div class="atributo">
                <b>titulo</b><br>
                 {{perfil.titulo}} 
            </div>
          
            <div class="atributo">
                <b>horario disponible</b><br>
                 {{perfil.horario_disponible}} 
            </div>
            <div class="atributo">
                <b>numero_registro</b><br>
                 {{perfil.numero_registro}} 
            </div>
        
        
        
        </div>

    </div>
    <div class="row">
        <div class="col-6">
            <h3>Especialidades:</h3>
            <ul>
                {% for x in espe %}
                    <li>{{ x.especialidad }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-6">
            <h3>Area medica:</h3>
            {{perfil.area_medica.area_medica}} 
        </div>
    </div>
    
</div>
{% endblock %}