{% extends 'adminn/base.html' %}
{% load static %}
{% block contenido %}
<div style="text-align: center;margin: 100px;">
    <div class="row" style="border: 5px solid #368bd8;background-color: #242424;border-radius: 15px;">
        <div style="color: white;" class="col-4">
            {% if paciente.usuario.foto %}
            <img src="{{ paciente.usuario.foto.url }}" class="imgUsuario" alt="usuario"><br>
        {% else %}
            <img src="{% static 'qf/imgs/usuario.png' %}" class="imgUsuario" alt="Foto predeterminada" />
        {% endif %}
           
            <div class="atributo">

                {{paciente.usuario.nombre_usuario}} 
            </div>

        </div>
        <div style=" text-align: left;color: white;padding: 10px;" class="col-4">

            <div class="atributo">
                <b>RUT</b><br>
                {{paciente.usuario.rut}}
            </div>
            <div class="atributo">
                <b>Email</b> <br>
                {{paciente.usuario.correo}}
            </div>
            <div class="atributo">
                <b>Sexo</b> <br>
                {{paciente.usuario.sexo}}
            </div>

            <div class="atributo">
                <b> Ubicacion </b> <br>
            </div>




        </div>
        <div style=" text-align: left;color: white;padding: 10px;" class="col-4">


            <div class="atributo">
                <b>Fecha de nacimiento</b> <br> {{paciente.usuario.fecha_de_nacimiento}}
            </div>

            <div class="atributo">
                <b>Telefono</b><br> {{paciente.usuario.telefono}}
            </div>

            <div class="atributo">
                <b>Cesfam</b><br> {{paciente.cesfam}}
            </div>
            <div class="atributo">
                <b> Peso</b> <br>{{paciente.peso}} kg
            </div>



        </div>

    </div>

</div>
{% endblock %}