{% extends 'adminn/base.html' %}
{% block contenido %}


<div>
  <h2 class="titulo">Quimicos farmaceuticos</h2>
</div>
<div class="padingbonito">
  <!-- Tabla de Pacientes Creados -->
  <div class="tab-pane fade show active" id="nav-ha" role="tabpanel" aria-labelledby="nav-ha-tab">
      <div class="header-container">
          <h3>Listado de quimicos</h3>
          <div class="search-buttons">
              <input type="text" class="caja-buscar" placeholder="Buscar por rut" id="input_qf_rut">
              <input type="text" class="caja-buscar" placeholder="Buscar por nombre" id="input_qf_nombre">
              <input type="text" class="caja-buscar" placeholder="Buscar por registro" id="input_qf_registro">
              <button class="btn-agregar"><a href="{% url 'nuevo_paciente' %}">Agregar qf</a></button>
              <button type="button" class="btn-eliminar" >Deshabilitar</button>
          </div>
      </div>
      <div id="no-more-tables">
          <div >
              <div id="list1">
                  <table >
                      <thead >
                          <tr>
                              <th></th>
                              <th >Nombre</th>
                              <th >Especialidad</th>
                              <th >Última conexión</th>
                              <th >N° de atenciones</th>
                              <th >Calificacion</th>
                              <th >Estado</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for i in quimicoSistema %}
                          <tr>
                              <td><input type="checkbox" name="select_row" value="{{ i.user.id }}"></td>
                              <td><a href="{% url 'perfil' i.user.id %}">{{ i.user.username }}</a></td>
                              <td>{{ i.peso }}</td>
                              <td>{{ i.ultimo_qf }}</td>
                              <td>{{ i.ultima_conexion }}</td>
                              <td>{{ i.ultima_conexion }}</td>
                              <td>{{ i.ultima_conexion }}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
<style>
   body {
       
        color: #ffffff;
    }

    .titulo {
        color: #000000;
    }

    .padingbonito {
        padding: 20px;
        background-color: #333333;
        border: 5px solid #368bd8;
        border-radius: 10px;
        margin: 20px;
    }

    .header-container {
        display: flex;
        
        align-items: center;
    }

    .search-buttons {
      margin-left: 100px;
        display: flex;
        align-items:end;
    }

    .caja-buscar {
        background-color: #696868;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        padding: 8px;
        margin-right: 10px;
    }
    
    .btn-agregar, .btn-eliminar {
        background-color: #5e5e5e;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        padding: 8px 15px;
        cursor: pointer;
        text-decoration: none;
    }

    .btn-agregar:hover, .btn-eliminar:hover {
        background-color: #777777;
    }

    table {
       margin-top: 50px;
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #b6b5b5;
    }

    th {
        background-color: #252525;
        
        color: #ffffff;
    }

    tbody tr:hover {
        background-color: #555555;
    }

    a {
        color: #ffffff;
        text-decoration: none;
    }
</style>
{% endblock %}